<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>

<body>
    <div class="navtitle">
        <div>
            <img src="/public/images/00002637.png" alt="">
        </div>
    </div>
    <div class="navtitlebar">
        <ul>
            <li>
                <a href="#">首页</a>
            </li>
            <li>
                <a href="#">HTML5</a>
            </li>
            <li>
                <a href="#">CSS</a>
            </li>
            <li>
                <a href="#">JAVASCRIPT</a>
            </li>
            <li>
                <a href="#">PHP</a>
            </li>
            <li>
                <a href="#">JAVA</a>
            </li>
            <li>
                <a href="#">Express</a>
            </li>
        </ul>
    </div>
    <div class="mainbody">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="row">
                        <div class="col-sm-8">
                            <!-- 文章 -->
                            <div class="read-article">
                                <h4>symfony2</h4>
                                <ol>
                                    <li>
                                        <span>作者：</span>
                                        <a href="javascript: void(0);">admin</a>
                                    </li>
                                    <li>
                                        <span>时间：</span>
                                        <a href="javascript: void(0);">2017年12月3日</a>
                                    </li>
                                    <li>
                                        <span>阅读：</span>
                                        <a href="javascript: void(0);">231</a>
                                    </li>
                                    <li>
                                        <span>评论：</span>
                                        <a href="javascript: void(0);">10</a>
                                    </li>
                                </ol>
                                <div class="main-txt clear">
                                    <p>PHP 框架 - symfony2</p>
                                    <button class="btn btn-primary">阅读全文</button>
                                </div>
                            </div>
                            <div class="read-article">
                                <h4>标签</h4>
                                <ol>
                                    <li>
                                        <span>作者：</span>
                                        <a href="javascript: void(0);">admin</a>
                                    </li>
                                    <li>
                                        <span>时间：</span>
                                        <a href="javascript: void(0);">2017年12月3日</a>
                                    </li>
                                    <li>
                                        <span>阅读：</span>
                                        <a href="javascript: void(0);">231</a>
                                    </li>
                                    <li>
                                        <span>评论：</span>
                                        <a href="javascript: void(0);">10</a>
                                    </li>
                                </ol>
                                <div class="main-txt clear">
                                    <p>PHP 框架 - symfony2</p>
                                    <button class="btn btn-primary">阅读全文</button>
                                </div>
                            </div>
                            <div class="read-article">
                                <h4>DOM</h4>
                                <ol>
                                    <li>
                                        <span>作者：</span>
                                        <a href="javascript: void(0);">admin</a>
                                    </li>
                                    <li>
                                        <span>时间：</span>
                                        <a href="javascript: void(0);">2017年12月3日</a>
                                    </li>
                                    <li>
                                        <span>阅读：</span>
                                        <a href="javascript: void(0);">231</a>
                                    </li>
                                    <li>
                                        <span>评论：</span>
                                        <a href="javascript: void(0);">10</a>
                                    </li>
                                </ol>
                                <div class="main-txt clear">
                                    <p>PHP 框架 - symfony2</p>
                                    <button class="btn btn-primary">阅读全文</button>
                                </div>
                            </div>
                            <div class="read-article pageBottom">
                                <p>
                                    <span><a href="#">没有上一页了</a></span>
                                    <span>1/2</span>
                                    <span><a href="#">下一页</a></span>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            {% if userInfo._id %}
                            <div class="r-side Msg">
                                <h4>用户信息</h4>
                                <div class="main-txt">
                                    <p class="user-name">{{userInfo.username}}</p>
                                    <p class="user-msg">您好，欢迎光临我的博客～</p>
                                    <p>
                                        <a class="logout" style="text-align: right;" href="#">退出</a>
                                    </p>
                                </div>
                            </div>
                            {% else %}
                            <div class="Login r-side">
                                <h4>登录</h4>
                                <form class="form-horizontal" action="">
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <label for="username" class="control-label">用户名</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" id="username" name="username" class="form-control" placeholder="请输入用户名">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <label for="password" class="control-label">密码</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="password" id="password" name="password" class="form-control" placeholder="请输入密码">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input class="btn btn-primary loginBtn" type="submit" value="登录">
                                    </div>
                                    <p>
                                        <span>还没注册？</span>
                                        <a class="goRegist" href="javascript:;">快速注册</a>
                                    </p>
                                    <p class="login-warning"></p>
                                </form>
                            </div>
                            {% endif %}
                            <div style="display: none" class="Register r-side">
                                <h4>注册</h4>
                                <form class="form-horizontal" action="">
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <label for="user" class="control-label">用户名</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" id="user" name="user" class="form-control" placeholder="请输入用户名">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <label for="pwd" class="control-label">密码</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="password" name="pwd" id="pwd" class="form-control" placeholder="请输入密码">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <label for="repwd" class="control-label">确认密码</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="password" name="repwd" id="repwd" class="form-control" placeholder="请输入密码">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input class="btn btn-primary registBtn" type="submit" value="注册">
                                    </div>
                                    <p>
                                        <span>已有账号？</span>
                                        <a class="goLogin" href="javascript:;">马上登录</a>
                                    </p>
                                    <p class="register-warning"></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/public/js/jquery-3.2.1.min.js"></script>
    <script src="/public/js/index.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>

</html>